*.cache
*.css.map
*.iws
*.min.min.js
*.new
*.new/*
*.old
*.old/*
*.swo
*.swp
*[a-z].1
*[a-z].1/*
.DS_Store
.DS_Store?
.htaccess
.idea/
.sass-cache
.sass-cache/*
.svn
/.well-known/
/phpdocker/
/vendor
atlassian-ide-plugin.xml
docker-compose.override.yml
old
old/*
pwx.php
sess_*
site
site-default/assets/cache
site-default/assets/files
site-default/assets/installed.php
site-default/assets/logs
site-default/assets/sessions
site-default/config-dev.php
site-skyscrapers
tmp
upgrade.php
wire/modules/AdminTheme/AdminThemeDefault/styles/sass/*.css
wire/modules/Inputfield/InputfieldDatetime/jquery-ui-timepicker-addon.min.js
wire/modules/Inputfield/InputfieldDatetime/timepicker/i18n/*.min.js
wire/modules/Jquery/JqueryFancybox/
wire/modules/Jquery/JqueryTableSorter/JqueryTableSorter.min.js
